.row__posters {
  display: flex; /*puts posters in row*/
  overflow-y: hidden; /*hide vertical scroll bar*/
  overflow-x: scroll; /*adds scroll bar to individual row*/
  padding: 20px; /*so you can still see growth of poster on hover*/
}

/*tell all browsers to display no scroll bar*/
.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 7px; /*to create space between posters*/
  transition: transform 450ms; /*if size changes for any reason then there will be a nice transition*/
}

/*building mouse hover feature of posters so they will grow in size when you hover*/
.row__poster:hover {
  transform: scale(1.08); /*how much the image will grow*/
}